@font-face {
    font-family: "Apercu";
    src: url("./fonts/ArrivalApercuPro-Light.woff2") format("woff2");
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: "Apercu";
    src: url("./fonts/ArrivalApercuPro-Regular.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Apercu";
    src: url("./fonts/ArrivalApercuPro-Medium.woff2") format("woff2");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "Apercu Mono";
    src: url("./fonts/ArrivalApercuMonoPro-Regular.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@layer reset, base, components, utilities;

@layer reset {

    html {
        box-sizing: border-box;
    }

    *,
    *::before,
    *::after {
        box-sizing: inherit;
    }

    * {
        padding: 0;
        margin: 0;
    }

}





html {
	text-size-adjust: none;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
	block-size: 100%;

    font-size: 62.5% /*.now your rems will be same as px */
}


/*.https://vale.rocks/posts/css-reset */


@layer base {
    body {
        font-family: "Apercu Mono", "SFMono-Regular", Consolas, monospace;
    }

    a {
        color: inherit;
    }
}
