/* skin */

/* variables */
:root {
    --neutrino: .3rem;
    --atom: 1rem;
    --molecule: 3rem;

    --fs:3.3vw;
    --gutter: var(--molecule);
    --bgcolor: rgba(157, 204, 233, 0.2);
}



/* layout */
body {
    padding: var(--molecule);
    background-color: var(--bgcolor);
}

@media (max-width: 720px) {
    :root {
        --gutter: 7px;
        --bgcolor: rgba(223, 186, 186, 0.2);
    }
}


