/* skin */

/* variables */
:root {
    --neutrino: .3rem;
    --atom: 1rem;
    --molecule: 3rem;

    --molecule: clamp(24px, 4vw, 60px);
    --organism: clamp(48px, 8vw, 120px);

    --fs:1rem;
    --lh:1.5rem;
    --gutter: var(--molecule);
    --bgcolor: rgba(157, 204, 233, 0.2);



    --page-inline: clamp(16px, 4vw, 60px);
    --footer-block-start: clamp(32px, 8vh, 120px);
    --footer-block-end: clamp(16px, 4vh, 60px);

}



/* layout */
body {
    padding: var(--molecule);
    background-color: var(--bgcolor);
}

@media (max-width: 720px) {
    :root {
        --gutter: 7px;
        --bgcolor: rgba(223, 186, 186, 0.2);
    }
}


