<nav aria-label="Primary">
    <ul>
        <li><a href="./index.html" data-nav-link="index">Home</a></li>
        <li><a href="./skeleton.html" data-nav-link="skeleton">Skeleton</a></li>
        <li><a href="./demo.html" data-nav-link="demo">Demo</a></li>
        <li><a href="./demo2.html" data-nav-link="demo2">Demo 2</a></li>
        <li><a href="./demo3.html" data-nav-link="demo3">Demo 3</a></li>
        <li><a href="./slideplayer.html" data-nav-link="slideplayer">Slideplayer</a></li>
        <li><a href="./floatingimages.html" data-nav-link="floatingimages">Floating images</a></li>
        <li><a href="./portfoliostage.html" data-nav-link="portfoliostage">Portfolio stage</a></li>
    </ul>
</nav>
