/**
 *
 * spaceface defaults
 *
 */
 
@font-face {
    font-family: "Aber Mono";
    src: url("./fonts/AberMono-Regular.woff2") format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: "Aber Mono";
    src: url("./fonts/AberMono-Light.woff2") format("woff2");
    font-weight: 300;
}

:root {
    --neutron: .5rem;
    --atom: 1rem;
    --molecule: 3rem;

    --type-meta: .65rem;
    --text-xs: .7rem;
    --text-sm: .8rem;
    --text-md: 1rem;
    --text-lg: 1.25rem;
    --text-xl: 2rem;
    --text-hero: clamp(2.5rem, 6vw, 6rem);

    --line: 1lh;

    --text-color: #444;

    --radius: .5rem;

    --color-text: hsl(0 0% 27%);
    --color-background: hsl(0 0% 97%);
    --color-accent: hsl(270, 50%, 40%);
    --color-muted: hsl(0 0% 49%);

    --color-surface: hsl(0 0% 88% / .5);

    interpolate-size: allow-keywords;
    transition-behavior: allow-discrete;
}

html {
    font-family: "Aber Mono", monospace;
    scrollbar-gutter: stable;
}

body {
    min-block-size: 100svh;
    color: var(--text-color);
    font-size: var(--text-md);
    font-weight: 400;
    line-height: 1.6rem;
    -webkit-font-smoothing: antialiased;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

img {
    background: url("./images/placeholder.svg") 0 0 / 100% 100% no-repeat;
}

@media (prefers-reduced-motion: no-preference) {
    /* interpolate-size: allow-keywords; */
}




a {
    color: var(--color-accent);
    text-decoration: underline;
    text-underline-offset: .2em;
}

a[href^="http://"]::after,
a[href^="https://"]::after {
    content: " ↗";
    display: inline-block;
    font-size: .75em;
    transition: transform .2s ease;
}

a[href^="http://"]:hover::after,
a[href^="https://"]:hover::after {
    transform: translate(.15rem, -.15rem);
}

a:hover {
    color: var(--color-text);
}

a:focus-visible {
    outline: 2px solid currentColor;
    outline-offset: .2rem;
}

