body {
    display: flex;
    flex-direction: column;
    background: url("./images/spaceface.svg") no-repeat fixed;
}

body,
header,
main,
footer,
section {
    gap: var(--molecule);
}

section {
    min-block-size: 70vh;
    padding: var(--molecule);
}

#splashscreen {
    min-block-size: 100vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    text-align: center;
    background: rgba(128, 128, 128, .426) url("./images/pattern-line.svg");
}

#logo {
    position: sticky;
    top: 50%;
    display: block;
    align-self: flex-start;
    width: 256px;
    margin: 0 auto;
    transform: translateY(-50%);
}

header {
    position: fixed;
    top: 0;
    background-color: #1313bb46;
    background: url("./images/pattern-line.svg");
}

nav {
    display: sticky;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: var(--molecule);
    background-color: #27bb1346;
}







.hero p {
    margin: 0;
    transition: opacity .35s ease;
}

.hero p.is-changing {
    opacity: 0;
}

.image-placeholder {
    display: block;
    inline-size: min(100%, 320px);
    aspect-ratio: 4 / 3;
    background: url("./images/placeholder.svg") 0 0 / 100% 100% no-repeat;
}








/**
 *
 * footer
 *
 */

footer {
    display: flex;
    flex-wrap: wrap;
    gap: 6rem;
    margin-inline: var(--molecule);
    margin-bottom: 9rem;
    padding: var(--molecule);
    border-radius: var(--radius);
    background: rgba(225, 225, 225, .5);
}

footer ul[aria-label]::before {
    content: attr(aria-label);
    display: block;
    height: 1lh;
    text-transform: uppercase;
    font-size: var(--text-xs);
    letter-spacing: .05em;
    color: rgb(125, 125, 125);
}

.about {
    max-width: 600px;
    padding-top: 1lh;
}

.about img {
    float: left;
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin: 0 1lh 1lh 0;
    border-radius: .5rem;
}

.about p {
    margin: 0 1lh 1lh 0;
}

.copyright {
    flex-basis: 100%;
    font-size: var(--text-xs);
    line-height: 1.4rem;
}

.certifications {
    font-size: var(--type-meta);
}


 a {
    color: var(--accent);
    text-box-trim: trim-both;
    text-box-edge: ex alphabetic;
    background: rgba(170, 11, 11, 0.5);
}

