

/* 3. Layout */

/**
  Prevent unneeded layout changes as the content growing or shrinking causes the scrollbar to appear/disappear, a space is reserved for it.
 */
html {
    scrollbar-gutter: stable;
}

/**
  svh for mobile for hero, for scroling dvh
 */
body {
    min-block-size: 100svh;
}



/* Typography */

/* 3. Improve text rendering */
body {
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}

/* 6. Avoid text overflows */
p,
h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 7. Improve line-wrapping (progressive enhancement) */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}













/* 5. Inherit fonts for form elements 
input,
button,
textarea,
select {
  font: inherit;
}
*/










/* 8. Enable smooth height animations (in reduced-motion-safe context) */
@media (prefers-reduced-motion: no-preference) {
  /* interpolate-size: allow-keywords; */
}

:root {
  /* allow transition between 0 to auto or min-content max content */
  interpolate-size: allow-keywords; 



  transition-behavior: allow-discrete;
}