/**
 *
 * reset
 *
 */

* {
    box-sizing: border-box;
}
::before, ::after {
    box-sizing: inherit;
}

body, header, main, footer, section, p, ul, li, h1, h2 {
    margin: 0;
    padding: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

ul {
    list-style: none;
}
